html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    width: 100vw;
    height: 100vh;

    border: 1px solid red;
    
    /* border-box = total dimnensions are 100vh and 100vw (border + widht, border + height) */
    box-sizing: border-box; 
}
